body {
	background: black;
}
h1{
	color:#5E5E5E;
	font-family: Arial;
	font-size: 50px;
	text-align: center;
}

p{
	font-size: 10px;
	color: black; 
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
}

table {
	text-align:center; 
	border:2px;
	width:90%;
	border-color:black;
}

td {
	background-color:#2E5968;
	text-align: center;
	width:30%;
	
}

tr{
	background-color:#01C0FB;
}

.sin {
	border-style: transparent;
	border: 0;
	background-color: transparent;
}

.titulos {
	font-family: Edwardian Script ITC;
	color: gray; 

}

.textodescripcion {
	font-family: Arial;
	font-size: 14px;
	text-align: center;
}

.encabezado {
	color:#5E5E5E;
	font-family: Arial;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

input {
	
}

.logosize {
	width:150px;
	height: 75px;
}

.productoimg {
	width:200px;
}

.iconos {
	width:75px;
}

.div1 {
	background:linear-gradient(to bottom, #0078FF, #AAD2FF);
	border:4px solid #0053B0;	
}

.div2 {
	background:linear-gradient(to bottom, #00BDFF, #87DEFC);
	border:4px solid #0053B0;	
}

.div3 {
	background:linear-gradient(to bottom, #0074FF, #6AADFE);
	border:4px solid #0053B0;
}

.caja {
	height:400px;
	width:250px;
	background:#eee;
	border: 1px solid #eee;
	margin: 5px;
	text-align:center;
	font-family:"Lato", sans-serif;
	color:black;
	display:inline-block;
}

.caja:hover {
	/*Agregar sombra: x y radio y color*/
	box-shadow:0 0 10px red;
	/* Cambia la escala de el tama�o de la clase*/
	transform: scale(1.3);
}

.caja-texto {
	padding-bottom: 5px;
	padding-top: 2px;
	font-size: 30px;
	color:Blue;
	font-weight:bold,
}

.texto-adicional {
	padding-top:5px;
	font-size:25px;
}

@font-face {
	font-family: "mifuente";
	src: url(MorningRainbow.ttf)
}

@font-face {
	font-family: "paddingtext";
	src: url(Fragmentcore.ttf);
}

#fuente-google{
	font-family: 'paddingtext';
}

#fuente-audio {
	font-family: "mifuente";
}

.mapa {
	background:linear-gradient(to bottom, #87DEFC, #00BDFF);
	border:4px solid #0053B0;	
	
}

.div4{
	background:#00BDFF;
	height: 180px;
	width: 450px;
	display:inline-block;
	transition: all ls;
	transition-timing-function: ease;
}

.div4:hover{
	width: 900px;
}

.div5{
	background:#00BDFF;
	height: 180px;
	width: 450px;
	display:inline-block;
	transition: all ls;
	transition-timing-function: ease;
}
.div5:hover{
	width: 900px;
}

.div6{
	background:#00BDFF;
	height: 180px;
	width: 450px;
	display:inline-block;
	transition: all ls;
	transition-timing-function: ease;
}

.div6:hover{
	width: 900px;
}